*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:#e0f2f1;
}
nav img{
    width: 150px;
    height: auto;
    margin-right: 120px;
}
.navbar{
    background-color: #006666;
}
.navbar-link{
    padding: 3px;
    color: white !important;
}
.navbar-nav{
    font-size: 18px;
    padding: 15px;
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color:white;
}
.navbar-collapse{
    flex-grow: 0 !important;
}
.item{
    margin-left: 25px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    font-size: 25px;
    font-weight: 500;
    
}
.item:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color:  #d40468;
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
}
.item:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.item:hover{
    font-weight: bold;
}
.message{
    text-align: center;
    color: #d40468;
    font-weight: bold;
    border: #004949 1px solid;
    border-radius: 10px;
    background-color: #a7ffeb;
    margin: auto;
    width: 50%;
    margin-top: 5rem;
    padding: 10px;
}

/*---BANNER----*/

.banner{
    width: 100%;
    height: 250px;
    background-image: url(../img/banner.jpg);
    color: #d40468;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.title{
    font-size: 3rem;
    font-weight: bold;
}
.title:hover{
    color:#004949;
}
.arrow{
    font-size: 3rem;
    font-weight: bold;
    color: #d40468;
}
.arrow:hover{
    color:#004949;
    font-size: 3.2rem;
}
.checkbox{
    display: flex;
    justify-content: space-around;
}
.category{
    margin-right: 20px;
    margin-top: 2rem;
}

/*------BUSCADOR----*/

.search{
    margin-top: 2rem;
}
.search input{
    border: 1px solid #acf5d4;
    width: 300px;
    cursor: pointer;
}
.search input:hover{
    border: 1px solid darkslategray;
    background-color: #acf5d4;
}
.glass{
    background-color: #006666;
}
.glass:hover{
    border: 1px solid #006666;
    background-color: #acf5d4;
}

/*----CARDS-----*/

.card-home{
    margin:20px 16px 0 16px;
    width: 22%;
    margin-top: 6rem;
    position: relative;
    border: 2px solid #d40468;
    box-shadow: 5px 5px 10px rgb(196, 149, 174) inset;
}
.card-image{
    height: 200px;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px rgb(128, 132, 132);
}
.card-image:hover{
    transform: scaleX(-1);
    box-shadow: 0px 0px 70px rgb(128, 132, 132);
}
.card-title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #004949;
    font-weight: bold;
    font-size: 25px;
}
.card-textFinal{
    margin-bottom: 70px;
}
.price{
    position: absolute;
    bottom: 0;
    left: 0;
    margin:10px;
    font-size: 25px;
    font-weight: bold;
    color: #004949;
}
.price:hover{
    font-size: 35px;
}
.button{
    background-color: #d40468;
    color: #ebfaf3;
    font-weight: bold;
    margin-right: 0;
    margin-left: 30px;
    box-shadow: 5px 5px 5px rgb(114, 73, 95);
    position: absolute;
    bottom: 0;
    right: 0;
    margin:10px;
 }
 .button:hover{
    background-color: #ebfaf3;
    color: #004949;
    border: 1px solid #004949;
 }
 .form-check-input{
    border: 2px solid #d40468;
    margin-top: 2.3rem;
 }
 .form-check-input:checked{
    background-color: #d40468;
    color: white;
    border: 2px solid #d40468;
    box-shadow:
     0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.2em 0.2em 1em #d40468;
}
 .form-check-input:hover{
    border:5px solid #d40468;
}


 /*-----EVENT----*/

 .img-event{
    width: 100%;
    height: 280px;
    margin: 10px;
    border: 1px solid darkslategray;
    box-shadow: 5px 5px 5px rgb(128, 132, 132);
 }
 .img-event:hover{
    transform: scaleX(-1);
 }
 .card-event{
    width: 800px;
    height: 300px;
    margin:10rem;
    border: 2px solid #d40468;
 }
 .card-bodyEvent{
    border: 1px solid darkslategray;
    margin:10px 10px 10px 25px;
    height: 280px;
    box-shadow: 5px 5px 5px rgb(128, 132, 132);
 }
 .title-event{
    font-size: 25px;
    background-color: #caf8e3;
    color:#d40468;
    color: #004949;
    font-weight: 700;
 }
 .card-footer{
    margin-top: 2.5rem;
    background-color: #caf8e3;
 }


/*----CONTACT-----*/

.contenedor{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    margin: 10rem 10rem 10rem 25rem;
    border-radius: 15px;
    border: 1px solid #d40468 ;
}
.contact-form{
    width: 700px;
    margin-top: 0.5rem;
    padding: 20px;
}
form input{
    border: 1px solid #caf8e3;
}
form input:hover{
    background-color: #ebfaf3;
    border: 1px solid #006666;
}
form textarea{
    margin-bottom: 3rem;
    height: 250px;
}
form textarea:hover{
    background-color: #ebfaf3;
    border: 1px solid #006666;
}
form label{
    font-size: 20px;
    font-weight: bold;
    color: #004949;
    margin-bottom: 5px;
    margin-top: 3px;
}
.button-form {
    background-color: #04AA6D;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.button-form:hover{
    background-color:#006666;
    color:#d40468;
}

/*----FOOTER-----*/

footer{
    width: 100%;
    height: 150px;
    background-color: #006666;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-top: 10rem;
}
.social{
    height: 50px;
    width: 50px;
    color: black;
    background-color: #ebfaf3;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 2px solid #d40468;
    font-size: 2rem;
    text-align: center;
    padding: 5px;
    margin-top: 2rem;
    margin-left: 2rem;
    cursor: pointer;
}
.social:hover{
    background-color:#d40468;
    border: 4px solid #ebfaf3;
}
.title-footer{
    margin-right: 6rem;
}

/*-----stast------*/

table, th, td {
    border-collapse: collapse;
}
.events-table{
    width: 100%;
    margin-top: 3rem;
    text-align: left;
    border: 3px solid #006666;
    box-shadow: 10px 10px 10px darkgray;
}
.titulo-th{
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 3px;
    padding: 20px;
    background-color:#a7ffeb;
    color:#d40468 ;
    border-bottom: 5px solid darkslategray ;
    border: 4px solid darkslategray ;
}
td{
    margin-bottom: 3px;
    border: 2px solid darkslategray;
    box-shadow: 3px 3px 3px lightgray;
    padding: 10px;
}
.upcoming-table{
    margin-top: 0;
    text-align: left;
    border: 3px solid darkslategray;
    box-shadow: 10px 10px 10px darkgray;
    width: 100%;
}
.past-table{
    margin-top: 0;
    text-align: left;
    border: 3px solid darkslategray;
    box-shadow: 10px 10px 10px darkgray;
    width: 100%;
}

@media only screen and (max-width: 500px) {
    .title{
        font-size: 2.5rem;
       
    }
    .card-event{
        margin:30px 10px 10px 10px;
        width: 400px;
        height: auto;
    }
    footer{
        align-items: center;
        flex-direction: column;
    }
    .contenedor{
        height: auto;
        width: 400px;
        margin: 20px;
    }
    .img-event{
        width: 370px;
    }
    .card-bodyEvent{
        width: 370px;
        margin-left: 15px;
    }
    .card-footer{
        margin-top: 2rem;
    }
    .title-footer{
        margin-right: 0px;
    }
    .card-home{
        margin: 10px;
        width: 94%;
    }
    .checkbox{
        flex-direction: column;
    }
    .category{
        margin: 10px;
    }
    .search{
        margin: 20px 10px 40px 20px;
    }
    .titulo-th{
        font-size: 17px;
    }
    td{
        font-size: 12px;
    }
    .contenedor{
        width: 90%;
        margin-right: 10px;
    }
    .form-check-input{
        margin-top: 1rem;
        margin-left: 20px;
     }
}
@media  screen and (max-width: 800px)and (min-width: 500px){
    .card-home{
        margin:30px 10px 10px 10px;
        width: 47%;
    }
    .item{
        margin-right:0;
        margin-left:5px;
        border-radius: 10px;
        cursor: pointer;
        position: relative;
        font-size: 20px;
        font-weight: 500;
    }
    .item:hover{
        font-size: 25px;
    }
    .card-event{
        margin:40px 5px 20px 0px;
        width: 700px;
     }
    .contenedor{
        margin: 30px 30px 30px 60px;
        width: 80%;
    }
    .search input{
       height: 50px;
    }
    .glass{
        height: 50px;
        margin-right: 10px;
    }
    .form-check-input{
        
        margin-left: 5px;
     }
}